<!--Toteutettu malliolion kautta-->

@model IEnumerable<MVCSovellusTehtavaAnneVaittinen.Models.Tunnit>
@{
    ViewBag.Title = "Tunnit";
}

<h2>Tunnit</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tunti id</th>
            <th>Projekti id</th>
            <th>Henkilö id</th>
            <th>Pvm</th>
            <th>Tunnit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MVCSovellusTehtavaAnneVaittinen.Models.Tunnit tun in Model)
        {
            <tr>
                <th></th>
                <th>@tun.TuntiId</th>
                <th>@tun.ProjektiId</th>
                <th>@tun.HenkiloId</th>
                <th>@tun.Pvm</th>
                <th>@tun.Tunnit1</th>
            </tr>
        }
    </tbody>
</table>
